<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../stylesheets/login.css">
</head>
<body>
  
    <div id="page2">
        <div id="box">
          <div id="left">
            <div id="left1">
                <h1>Create your <br> Account</h1>
                <h5>BOOK Your Cab  <br> and enjoy your ride!</h5>
            </div>
        </div>
        <div id="right">
            <h3>Sign Up</h3>
            <div id="right1">
                <form method="get" action="./book.ejs">

                    <input class="login" type="text"  placeholder="First Name">
                    <br>
                    <br>
                    <input class="login" type="text" placeholder="Last Name">
                    <br>
                    <br>
                    <input class="login" type="email" placeholder="Email address">
                    <br><br>
                    <input class="login" type="password" placeholder="Password">
                    <br><br>
                   
                    <div id="right2">
                        <input type="checkbox">
                        <h5>Accept Term & Conditions</h5>
                    </div>
                    <input id="sub" type="submit" placeholder="submit">


                </form>
                
                   

                <hr>
                <div id="right3">
                    <div id="but">
                        <button>Sign Up with Google
                            <i class="ri-google-fill"></i>
                        </button>
                    </div>
                    <button><i class="ri-apple-line"></i>
                      Sign Up with Apple</button>

              </div>
          </div>
      </div>

        </div>
       </div>
  
</body>    
</html>